@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.react-photo-gallery--gallery {
  z-index: 0; /* Ensure the gallery is behind the lightbox */
}

.ril__navButtons, .ril__closeButton {
  z-index: 1100 !important;
  opacity: 1 !important;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.7) !important; /* Ensure this is visible against your background */
}

.ril__navButtonPrev, .ril__navButtonNext {
  border: none !important;
}

.ril__closeButton {
  background-color: rgba(255, 0, 0, 0.8) !important; /* Make close button more visible */
}
